command.md
.DS_STORE
all/output/images/*.jpg
all/output/labels/*.txt
all/output/data
all/images/temp
test.py
output.zip
full images with boxes
yolo
.vscode
!data/train
colab/runs
*.docx
*.pdf
*.zip
*.cache
yolo11x.pt
yolo11n.pt
mean_average_precision